node_modules
dist
.env
*.gz
config.json*
*.log
.prettierrc

# Test files
test/auto_backup.exp
test/auto_restore.exp
config.container.json
backups/
test/test-backups/
test-backups/
*.gz.json
test/*.log
mongodb-backup-test.log